# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar
**/.metadata/*
**/target
coursecatalogueservice/.metadata/

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
.metadata/.plugins/org.eclipse.core.resources/.snap
.metadata/.bak_0.log
.metadata/.log
.metadata/.plugins/org.eclipse.core.resources/.snap
.metadata/.plugins/org.eclipse.core.resources/.history/12/5012a30d29b9001a18bdb78c318ecd77
.metadata/.plugins/org.eclipse.core.resources/.history/2a/c0cb0cc31cb9001a11aa9d908f9cf634
.metadata/.plugins/org.eclipse.core.resources/.history/2f/201d4228ecb6001a180cdc2550697c1c
.metadata/.plugins/org.eclipse.core.resources/.history/31/100143572cb9001a18bdb78c318ecd77
.metadata/.plugins/org.eclipse.core.resources/.history/33/80efb1401bb9001a11aa9d908f9cf634
.metadata/.plugins/org.eclipse.core.resources/.history/4a/2057869fecb6001a180cdc2550697c1c
.metadata/.plugins/org.eclipse.core.resources/.history/5e/a0f3441c29b9001a18bdb78c318ecd77
.metadata/.plugins/org.eclipse.core.resources/.history/6a/c0b9d8e61bb9001a11aa9d908f9cf634
.metadata/.plugins/org.eclipse.core.resources/.history/78/209a4833eab6001a180cdc2550697c1c
.metadata/.plugins/org.eclipse.core.resources/.history/79/209458e0ecb6001a180cdc2550697c1c
.metadata/.plugins/org.eclipse.core.resources/.history/a1/10609f162ab9001a18bdb78c318ecd77
.metadata/.plugins/org.eclipse.core.resources/.history/a2/101f6cd31db9001a11aa9d908f9cf634
.metadata/.plugins/org.eclipse.core.resources/.history/b2/60d04e20eab6001a180cdc2550697c1c
.metadata/.plugins/org.eclipse.core.resources/.history/ce/a0c8b967ebb6001a180cdc2550697c1c
.metadata/.plugins/org.eclipse.core.resources/.history/d/207cbabb29b9001a18bdb78c318ecd77
.metadata/.plugins/org.eclipse.core.resources/.history/e1/10832be81cb9001a11aa9d908f9cf634
.metadata/.plugins/org.eclipse.core.resources/.projects/coursecatalogueservice/.markers.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/coursecatalogueservice/.syncinfo.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/courseinfoservice/.markers.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/courseinfoservice/.syncinfo.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/courseratingdataservice/.markers.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/courseratingdataservice/.syncinfo.snap
.metadata/.plugins/org.eclipse.core.resources/.root/.markers.snap
.metadata/.plugins/org.eclipse.core.resources/.root/1.tree
.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.index
.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.wst.sse.core.prefs
.metadata/.plugins/org.eclipse.epp.usagedata.recording/usagedata.csv
.metadata/.bak_0.log
.metadata/.log
.metadata/.plugins/org.eclipse.core.resources/.snap
.metadata/.plugins/org.eclipse.core.resources/.history/12/5012a30d29b9001a18bdb78c318ecd77
.metadata/.plugins/org.eclipse.core.resources/.history/2a/c0cb0cc31cb9001a11aa9d908f9cf634
.metadata/.plugins/org.eclipse.core.resources/.history/2f/201d4228ecb6001a180cdc2550697c1c
.metadata/.plugins/org.eclipse.core.resources/.history/31/100143572cb9001a18bdb78c318ecd77
.metadata/.plugins/org.eclipse.core.resources/.history/33/80efb1401bb9001a11aa9d908f9cf634
.metadata/.plugins/org.eclipse.core.resources/.history/4a/2057869fecb6001a180cdc2550697c1c
.metadata/.plugins/org.eclipse.core.resources/.history/5e/a0f3441c29b9001a18bdb78c318ecd77
.metadata/.plugins/org.eclipse.core.resources/.history/6a/c0b9d8e61bb9001a11aa9d908f9cf634
.metadata/.plugins/org.eclipse.core.resources/.history/78/209a4833eab6001a180cdc2550697c1c
.metadata/.plugins/org.eclipse.core.resources/.history/79/209458e0ecb6001a180cdc2550697c1c
.metadata/.plugins/org.eclipse.core.resources/.history/a1/10609f162ab9001a18bdb78c318ecd77
.metadata/.plugins/org.eclipse.core.resources/.history/a2/101f6cd31db9001a11aa9d908f9cf634
.metadata/.plugins/org.eclipse.core.resources/.history/b2/60d04e20eab6001a180cdc2550697c1c
.metadata/.plugins/org.eclipse.core.resources/.history/ce/a0c8b967ebb6001a180cdc2550697c1c
.metadata/.plugins/org.eclipse.core.resources/.history/d/207cbabb29b9001a18bdb78c318ecd77
.metadata/.plugins/org.eclipse.core.resources/.history/e1/10832be81cb9001a11aa9d908f9cf634
.metadata/.plugins/org.eclipse.core.resources/.projects/coursecatalogueservice/.markers.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/coursecatalogueservice/.syncinfo.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/courseinfoservice/.markers.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/courseinfoservice/.syncinfo.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/courseratingdataservice/.markers.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/courseratingdataservice/.syncinfo.snap
.metadata/.plugins/org.eclipse.core.resources/.root/.markers.snap
.metadata/.plugins/org.eclipse.core.resources/.root/1.tree
.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.index
.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.wst.sse.core.prefs
.metadata/.plugins/org.eclipse.epp.usagedata.recording/usagedata.csv
.metadata/.plugins/org.eclipse.jdt.core/647288298.index
.metadata/.plugins/org.eclipse.jdt.core/1341781886.index
.metadata/.plugins/org.eclipse.jdt.core/3837072685.index
.metadata/.plugins/org.eclipse.jdt.core/externalLibsTimeStamps
.metadata/.plugins/org.eclipse.jdt.core/savedIndexNames.txt
.metadata/.plugins/org.eclipse.jdt.core/variablesAndContainers.dat
.metadata/.plugins/org.eclipse.jdt.ui/QualifiedTypeNameHistory.xml
.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/.workspace/2020/6/27/refactorings.history
.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/.workspace/2020/6/27/refactorings.index
.metadata/.bak_0.log
.metadata/.log
.metadata/.plugins/org.eclipse.core.resources/.snap
.metadata/.plugins/org.eclipse.core.resources/.history/12/5012a30d29b9001a18bdb78c318ecd77
.metadata/.plugins/org.eclipse.core.resources/.history/2a/c0cb0cc31cb9001a11aa9d908f9cf634
.metadata/.plugins/org.eclipse.core.resources/.history/2f/201d4228ecb6001a180cdc2550697c1c
.metadata/.plugins/org.eclipse.core.resources/.history/31/100143572cb9001a18bdb78c318ecd77
.metadata/.plugins/org.eclipse.core.resources/.history/33/80efb1401bb9001a11aa9d908f9cf634
.metadata/.plugins/org.eclipse.core.resources/.history/4a/2057869fecb6001a180cdc2550697c1c
.metadata/.plugins/org.eclipse.core.resources/.history/5e/a0f3441c29b9001a18bdb78c318ecd77
.metadata/.plugins/org.eclipse.core.resources/.history/6a/c0b9d8e61bb9001a11aa9d908f9cf634
.metadata/.plugins/org.eclipse.core.resources/.history/78/209a4833eab6001a180cdc2550697c1c
.metadata/.plugins/org.eclipse.core.resources/.history/79/209458e0ecb6001a180cdc2550697c1c
.metadata/.plugins/org.eclipse.core.resources/.history/a1/10609f162ab9001a18bdb78c318ecd77
.metadata/.plugins/org.eclipse.core.resources/.history/a2/101f6cd31db9001a11aa9d908f9cf634
.metadata/.plugins/org.eclipse.core.resources/.history/b2/60d04e20eab6001a180cdc2550697c1c
.metadata/.plugins/org.eclipse.core.resources/.history/ce/a0c8b967ebb6001a180cdc2550697c1c
.metadata/.plugins/org.eclipse.core.resources/.history/d/207cbabb29b9001a18bdb78c318ecd77
.metadata/.plugins/org.eclipse.core.resources/.history/e1/10832be81cb9001a11aa9d908f9cf634
.metadata/.plugins/org.eclipse.core.resources/.projects/coursecatalogueservice/.markers.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/coursecatalogueservice/.syncinfo.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/courseinfoservice/.markers.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/courseinfoservice/.syncinfo.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/courseratingdataservice/.markers.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/courseratingdataservice/.syncinfo.snap
.metadata/.plugins/org.eclipse.core.resources/.root/.markers.snap
.metadata/.plugins/org.eclipse.core.resources/.root/1.tree
.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.index
.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.wst.sse.core.prefs
.metadata/.plugins/org.eclipse.epp.usagedata.recording/usagedata.csv
.metadata/.plugins/org.eclipse.jdt.core/647288298.index
.metadata/.plugins/org.eclipse.jdt.core/1341781886.index
.metadata/.plugins/org.eclipse.jdt.core/3837072685.index
.metadata/.plugins/org.eclipse.jdt.core/externalLibsTimeStamps
.metadata/.plugins/org.eclipse.jdt.core/savedIndexNames.txt
.metadata/.plugins/org.eclipse.jdt.core/variablesAndContainers.dat
.metadata/.plugins/org.eclipse.jdt.ui/QualifiedTypeNameHistory.xml
.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/.workspace/2020/6/27/refactorings.history
.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/.workspace/2020/6/27/refactorings.index
.metadata/.plugins/org.eclipse.m2e.core/workspacestate.properties
.metadata/.plugins/org.eclipse.m2e.core/workspaceState.ser
